<!-- disable_2fa.html -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1 class="text-center">Disable Two-Factor Authentication</h1>
  <div class="col-4 offset-4">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="security_question_1_answer">Security Question 1 Answer:</label>
      <input type="text" class="form-control" id="security_question_1_answer" name="security_question_1_answer" required>
    </div>
    <div class="form-group">
      <label for="security_question_2_answer">Security Question 2 Answer:</label>
      <input type="text" class="form-control" id="security_question_2_answer" name="security_question_2_answer" required>
    </div>
    <button type="submit" class="btn btn-danger">Disable 2FA</button>
    <a href="{% url 'login' %}" class="btn btn-warning">Cancel</a>
  </form>
 </div>
{% endblock %}  
