<!-- create_profile.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <h2>Update Your Profile</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Update</button>
      <a href="{% url 'accounts_home' user_id=user.id %}" class="btn btn-warning">Cancel</a>
      <button type="submit" class="btn btn-danger" formaction="{% url 'profile_delete' user_id=user.id %}">Delete</button>
    </form>
  </div>
{% endblock %}



